<%- include('includes/head');%>

<div class="container mt-2">
    <div class="row text-center d-flex justify-content-center">
        <div class="col-3">
            
            <div class="card">
                <img src="/img/adidas.jpeg" alt="adidas" width="150" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">One of three columns</div>
                    <a href="#" class="btn btn-success stretched-link">detail</a>
                </div>
            </div>
            
        </div>
        <div class="col-3">
            <div class="card">
                <img src="/img/adidas.jpeg" alt="adidas" width="150" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">One of three columns</div>
                    <a href="#" class="btn btn-success stretched-link">detail</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img src="/img/adidas.jpeg" alt="adidas" width="150" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">One of three columns</div>
                    <a href="#" class="btn btn-success stretched-link">detail</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<%- include('includes/end');%>